<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Démontration de l'Arrière Plan</title>

    <link rel="stylesheet" href="../style/arrierePlan.css">
</head>
<body>
    <div id="plan1">
        <h1>Aujourd'huit, nous avons Cours</h1>
    </div>

    <div id="plan2">
        <h2>Les cours, tu Aimera</h2>
    </div>
    
    <div id="plan3">
        <h3>Les courrant d'air en distanciel, tu Aimera</h3>
    </div>
</body>
</html>