<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Démontration CSS pour liste</title>

    <link rel="stylesheet" href="../style/cssListe.css">
</head>
<body>
    <h1>Liste</h1>
    <h3>La saga Star Wars</h3>
    <ul>
        <li class="petronas">Sponsort</li>
        <li class="petronas">Sponsort</li>
        <li class="amg">Ecurie</li>
        <li class="amg">Mercedes</li>
    </ul>
    <ol>
        <li class="nombre1">Star Wars I</li>
        <li class="nombre2">Star Wars II</li>
        <li class="romain1">Star Wars III</li>
        <li class="romain2">Star Wars IV</li>
        <li class="lettre1 in">Star Wars V</li>
        <li class="lettre2 out">Star Wars VI</li>
    </ol>
</body>
</html>