<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Démonstration de la Transformation</title>

    <link rel="stylesheet" href="../style/demoTransformation.css">
</head>
<body>
    <h1>Une Rotation possible</h1>

    <h2>Une Distorsion possible</h2>
    <div id="skew">Une distorsion possible</div>

    <h2>Exemple de plusieurs transformation sur un élément</h2>
    <div id="transform">Une nouvelle transformation</div>

    <h2>Exemple de Transition</h2>
    <div id="transition">Une transition géniale</div>
</body>
</html>