<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Démonstration Ombre sur du Texte</title>

    <link rel="stylesheet" href="../style/demoOmbreSurTexte.css">
</head>
<body>
    <div>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Facere dolorem natus voluptate porro molestias, ratione repellat aliquid, unde obcaecati odit nihil commodi, facilis repudiandae. Perspiciatis illum est sequi nostrum ad?</div>
</body>
</html>