<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Démontration de Dépassement</title>

    <link rel="stylesheet" href="../style/demoOverFlow.css">
</head>
<body>
    <h1>Les Dépassements</h1>
    <div class="bloc">Lorem ipsum dolor sit amet consectetur adipisicing elit. Cum voluptatibus vel quia quibusdam unde sed, eveniet et quam assumenda dicta odit id itaque ab? Doloremque, officia autem! Et, officiis magni.</div>
</body>
</html>