<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Démonstration de Tableaux</title>

    <link rel="stylesheet" href="../style/demoTableau.css">
</head>
<body>
    <table>
        <tr>
            <td style="text-align: left;">Case1</td>
            <td style="text-align: center;">Case2</td>
            <td style="text-align: right;">3</td>
        </tr>

        <tr>
            <td style="text-align: left;">Case3</td>
            <td style="text-align: center;">Case4</td>
            <td style="text-align: right;">6</td>
        </tr>

        <tr>
            <td style="vertical-align: top;">Case1</td>
            <td style="vertical-align: middle;">Case2</td>
            <td style="vertical-align: bottom;">3</td>
        </tr>

        <tr>
            <td style="vertical-align: top;">Case3</td>
            <td style="vertical-align: middle;">Case4</td>
            <td style="vertical-align: bottom;">6</td>
        </tr>
    </table>
</body>
</html>