<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Démonstrationdes Colonnes Multiples</title>

    <link rel="stylesheet" href="../style/demoColonneMultiples.css">
</head>
<body>
    <div>Lorem ipsum dolor sit amet consectetur adipisicing elit. Qui asperiores neque sapiente exercitationem consequuntur tenetur reiciendis at dolorum vero! Inventore sed saepe labore odit, consequuntur fugiat ullam at reiciendis quaerat.</div>
</body>
</html>