<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Démontration Texte</title>

    <link rel="stylesheet" href="../style/demoTexte.css">
</head>
<body>
    <div class="couleur interligne">Mon texte en rouge</div>
    <div class="couleur decoration">Mon texte en rouge et barré</div>
    <div class="couleur transform">mon texte en rouge et en majuscule</div>
    <div class="indentation">Mon texte avec indentation</div>
    <div class="esp-lettre">Mon texte avec des espace entre les lettres</div>
    <div class="esp-mot">Mon texte avec des espace entre les mots</div>
    <div class="alignement-h">Mon texte aligné au millieu</div>
    <div class="alignement-v l-h">Mon texte</div>
</body>
</html>