<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Démonstration Censure Auto</title>

    <link rel="stylesheet" href="../style/demoCensureAuto.css">
</head>
<body>
    <div>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nostrum quasi velit, voluptate, laudantium rerum cupiditate fugit porro quam corporis eos praesentium culpa quo dolor animi atque tempora necessitatibus dolores nobis?</div>
</body>
</html>