<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Démonstration de Dépassement de Texte</title>

    <link rel="stylesheet" href="../style/demoDepassementTexte.css">
</head>
<body>
    <div>Le mot le plus lomg était ANTICONSTITUTIONNELLEMENT !</div>
    <div class="clip">Le mot le plus lomg était ANTICONSTITUTIONNELLEMENT !</div>
    <div class="ellipsis">Le mot le plus lomg était ANTICONSTITUTIONNELLEMENT !</div>
    <div class="string">Le mot le plus lomg était ANTICONSTITUTIONNELLEMENT !</div>
</body>
</html>