<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Démonstration Marges interne er externe</title>

    <link rel="stylesheet" href="../style/exempleMarges.css">
</head>
<body>
    <h1>Les Marges</h1>
    <h2 id="margeExterne1" class="gris"> Avec les Marges externes par défaut</h2>
    <p id="margeExterne2" class="gris">Avec 4 Marges de 50px</p>
    <p id="margeExterne3" class="gris">
        Avec une Marge a gauche de 25px
        <br><br>
        Et avec une a droite de 50px
    </p>

    <h2 id="margeExterne1" class="rouge"> Avec les Marges externes par défaut</h2>
    <p id="margeExterne2" class="rouge">Avec 4 Marges de 50px</p>
    <p id="margeExterne3" class="rouge">
        Avec une Marge a gauche de 25px
        <br><br>
        Et avec une a droite de 50px
    </p>

</body>
</html>