<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Démonstration Image Flottante</title>

    <link rel="stylesheet" href="../style/float.css">
</head>
<body>
    <article>
        <img src="../img/Petronas_Logo.jpg" alt="Déscription précis de petronas" class="image1">
        <h2>Petronas Logo</h2>
        <p>Publié le 28/01/25</p>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Commodi id atque veniam optio! Repudiandae cum cupiditate earum voluptate tempore quia nam, quasi non natus, incidunt voluptates expedita amet molestias dolore!</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Exercitationem, nam quas eius aliquam facere minus dolor. Officia repellendus amet quidem, voluptate, dolores doloremque possimus quo qui odio velit reprehenderit. Cupiditate.</p>
    </article>
    <br><br>
    <article>
        <img src="../img/Petronas_color_0.jpg" alt="Déscription précis de petronas" class="gauche">
        <h2>Petronas Logo</h2>
        <p>Publié le 28/01/25</p>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Commodi id atque veniam optio! Repudiandae cum cupiditate earum voluptate tempore quia nam, quasi non natus, incidunt voluptates expedita amet molestias dolore!</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Exercitationem, nam quas eius aliquam facere minus dolor. Officia repellendus amet quidem, voluptate, dolores doloremque possimus quo qui odio velit reprehenderit. Cupiditate.</p>
    </article>
    <br><br>
    <article>
        <img src="../img/Pétronas_color.jpg" alt="Déscription précis de petronas" class="droite">
        <h2>Petronas Logo</h2>
        <p>Publié le 28/01/25</p>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Commodi id atque veniam optio! Repudiandae cum cupiditate earum voluptate tempore quia nam, quasi non natus, incidunt voluptates expedita amet molestias dolore!</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Exercitationem, nam quas eius aliquam facere minus dolor. Officia repellendus amet quidem, voluptate, dolores doloremque possimus quo qui odio velit reprehenderit. Cupiditate.</p>
    </article>
</body>
</html>