<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Démonstration Position Absolute</title>

    <link rel="stylesheet" href="../style/positionAbsolute.css">
</head>
<body>
    <div class="sujet">
        <h1>FORMULE 1</h1>
        <p class="publication">Publié le 28/01/25</p>
        <p><p>
            La Formule 1 (F1) est la catégorie reine du sport automobile mondial. Elle se distingue par ses voitures à la pointe de la technologie, ses courses palpitantes et ses pilotes légendaires. Créée en 1950, la F1 est régie par la Fédération Internationale de l'Automobile (FIA) et se compose d'une série de Grands Prix organisés chaque année sur différents circuits à travers le monde. Parmi les équipes les plus emblématiques, on compte Ferrari, Mercedes, Red Bull et McLaren. Les pilotes rivalisent de talent et de stratégie pour remporter le prestigieux titre de champion du monde. La F1 continue d'attirer des millions de fans grâce à son mélange unique de</p>
    </div>
</body>
</html>