<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Démonstration Pseudo Classes</title>

    <link rel="stylesheet" href="../style/pseudoClasses.css">
</head>
<body>
    <p>
        Connaisez-vous <a href="https://www.youtube.com/watch?v=Kfp4pMAhsUs" target="_blank">Mercedes F1</a>
    </p>
    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quasi eius praesentium fugit assumenda! Voluptatem possimus quia repudiandae, ullam aspernatur repellat perferendis atque repellendus ratione ducimus, commodi cumque, dicta fuga officiis.</p>
    <p>Ca déquoiphe</p>
    <input type="text" name="MonInputTexte" size="20">
</body>
</html>