<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Démonstration Visibilité</title>

    <link rel="stylesheet" href="../style/visibility.css">
</head>
<body>
    <div>
        ON ME VOIT
    </div>
    <div class="none">
        ON ne ME VOIT pas
    </div>
    <div>
        ON me voit AUSSI
    </div>
    <div id="hidden">
        On Ne Me Voit Pas Mais Je RESERVE Ma Place
    </div>
    <div>
        on me voit
    </div>
</body>
</html>