h1{
    transform: rotate(-20deg);
}
#skew{
    margin-top: 100px;
    transform: skew(30deg, 10deg);
}
#transform{
    margin-top: 50px;
    margin-left: 250px;
    transform: rotate(-10deg) skew(50deg, 20deg) scale(1.5, 1);
}
#transition{
    transform: rotate(-20deg);
    transition: transform 2s;
}
#transition:hover{
    transform: rotate(0deg);
}