a{
    color: black;
    text-decoration: none;
}
a:hover{
    text-decoration: underline;
}
a:active{
    color: aqua;
}
a:visited{
    color: antiquewhite
}
p{
    border: 1px solid black;
}
p:hover{
    background-color: aquamarine;
}
input:focus{
    background-color: aqua;
}