:root{
    --bordure : 1px solid black;
    font-size: 18px;
}
*{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    box-sizing: border-box;
}
#header{
    display: flex;

    img{
        width: 15%;
        height: 15%;
    }
    h1{
        margin-left: auto;
        margin-right: auto;
        font-size: 2rem;
    }
}
nav{
    margin-right: 50px;
    text-align: end;
}
span{
    display: flex;
    width: 95%;
    height: 1px;
    margin-top: 15px;
    margin-left: auto;
    margin-right: auto;
    border: var(--bordure);
}
article{
    display: flex;
    flex-direction: column;
    width: 90%;
    margin: 15px auto;
    border: var(--bordure);

    h2{
        margin: 0px 0px 10px 0px;
        font-size: 1.8rem;
    }
    p{
        margin: 0px;
    }
    div{
        display: flex;
        flex-direction: row;

        section{
            margin-left: auto;
            margin-right: auto;
        }
    }
}
footer{
    width: 100%;
    height: 25px;
    border: var(--bordure);
    background-color: gray;
}

/************************************************************************************************** 
                                        Mobile : à partir de 426px
    Avec la technique des media queries, je vais maitenent faire le CSS spéciale au format Mobile
***************************************************************************************************/
@media screen and (min-width: 320px) {
    header{
        background-color: pink;
    }
    img{
        display: none;
    }
    p{
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    }   
}

/************************************************************************************************** 
                                        Tablette : à partir de 426px
    Avec la technique des media queries, je vais maitenent faire le CSS spéciale au format tablette
***************************************************************************************************/
@media screen and (min-width: 426px) {
    header{
        background-color: blueviolet;
    }
    img{
        display: flex;
    }
    p{
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    }   
}

/************************************************************************************************** 
                                        Desktop : à partir de 426px
    Avec la technique des media queries, je vais maitenent faire le CSS spéciale au format desktop
***************************************************************************************************/
@media screen and (min-width: 769px) {
    header{
        background-color: red;
    }
    img{
        display: block;
    }
    article{
        div{
            flex-direction: column;
        }
    }
}